/*
  Base
*/

* {
  &:focus {
    outline: none;
  }
  
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: $blue;

  &:hover {
    color: $blue-light;
  }

  &:active {
   color: $blue-dark;
  }
}


// Colors

.white {
  background-color: $white;
}

.text-white {
  color: $white;
}

.grey-light {
  background-color: $grey-light;
}

.text-grey-light {
  color: $grey-light;
}

.grey-mid {
  background-color: $grey-mid;
}

.text-grey-mid {
  color: $grey-mid;
}

.grey-dark {
  background-color: $grey-dark;
}

.text-grey-dark {
  color: $grey-dark;
}

.black {
  background-color: $black;
  color: $white;
}

.text-black {
  color: $black;
}

.orange {
  background-color: $orange;
  color: $white;
}

.text-orange {
  color: $orange;
}

.blue {
  background-color: $blue;
  color: $white;
}

.text-blue {
  color: $blue;
}

// Links

.link-orange {
  a {
    color: $orange;

    &:hover {
      color: $orange-light;
    }

    &:active {
      color: $orange-dark;
    }
  }
}

.link-grey {
  a {
    color: $grey-dark;

    &:hover {
      color: $grey-darker;
    }

    &:active {
      color: $black;
    }
  }
}

.link-white {
  a {
    color: $white;
    opacity: 1;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.9;
    }
  }
}

// General

.padded {
  padding: 2em;
}

.no-margin {
  margin: 0;
}

.no-margin-left {
  margin-left: 0;
}

.no-margin-right {
  margin-right: 0;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.no-margin-top {
  margin-top: 0;
}

.add-margin-top {
  margin-top: 2em;

  &.double {
    margin-top: 4em;
  }
}

.add-margin-bottom {
  margin-bottom: 2em;

  &.double {
    margin-bottom: 4em;
  }
}

.add-margin-left {
  margin-left: 2em;

  &.double {
    margin-left: 4em;
  }
}

.add-margin-right {
  margin-right: 2em;

  &.double {
    margin-right: 4em;
  }
}

.no-padding-bottom {
  padding-bottom: 0;
}

.no-padding-top {
  padding-top: 0;
}

.no-padding-left {
  padding-left: 0;
}

.no-padding-right {
  padding-right: 0;
}

.border-top {
  border-top: 1px solid $grey-light;
}

.clearfix {
  @include clearfix;
}

.rounded-corners {
  @include border-radius (3px);
}
