/*
  Base
*/

* {
  &:focus {
    outline: none;
  }
}


// Colors

.gray-bg {
  background-color: $gray1;
}

.gray {
  color: $gray1;
}

.black-bg {
  background-color: $black;
}

.black {
  color: $black;
}

.orange-bg {
  background-color: $orange;
}

.orange {
  color: $orange;
}

.blue-bg {
  background-color: $blue;
}

.blue {
  color: $blue;
}