/*
   Grid
*/


// Column Factory!

@for $column from 1 through $columns {
   .col-#{$column} {
      width: ( ( ( 100% ) / $columns ) * $column );
   }

   .push-#{$column} {
      margin-left: ( ( 100% ) / $columns ) * $column ;

      @include mobile ( ) {
         margin-left: 0;
      }
   }
}

.column {
   padding-right: ( $gutter-width / 2 );
   padding-left: ( $gutter-width / 2 );
   min-height: 1em;
   position: relative;
   float: left;
   @include box-sizing( border-box );
   @include clearfix();
   @include mobile {
      clear: both;
      width: 100%;
      padding-left: 0;
      padding-right: 0;
   }

   &.static {
      position: static;
   }
}

.wrapper {
   @include clearfix;
}

.column .column {
   // padding: 0;
}

.centered {
   float: none;
   margin: 0 auto;
   padding: 0;
}

.greedy + .column {
   clear: both;
}

@include desktop {
   .desktop-hide {
      display: none;
   }
}

@include tablet {
   .tablet-full {
      width: 100%;
      margin-left: 0;
   }

   .tablet-three-quarters {
      width: ( 100% / 4 ) * 3;
      margin-left: 0;
   }

   .tablet-half {
      width: ( 100% / 2 );
      clear: none;
      margin-left: 0;
   }

   .tablet-quarter {
      width: ( 100% / 4 );
      clear: none;
      margin-left: 0;
   }

   .tablet-third {
      width: ( 100% / 3 );
      clear: none;
      margin-left: 0;
   }

   .tablet-two-thirds {
      width: ( ( 100% / 3 ) * 2 );
      clear: none;
      margin-left: 0;
   }

   .tablet-hide {
      display: none;
   }

   .tablet-show {
      display: initial;
   }
}

@include mobile {
   .mobile-full {
      width: 100%;
   }

   .mobile-half {
      width: ( 100% / 2 );
      clear: none;
   }

   .mobile-quarter {
      width: ( 100% / 4 );
      clear: none;
   }

   .mobile-hide {
      display: none;
   }

   .mobile-show {
      display: initial;
   }
}