/*
  Input/UI
*/

input {
  -webkit-appearance: none;
  border: 1px solid black;
  font: inherit;
  background: none;
  padding: 0;
  margin: 0;

  &[type=text], &[type=email], &[type=number] {
    width: 100%;
    display: block;
  }
}

.button {
  display: inline-block;
}