/*
  Input/UI
*/

input {
  @include border-radius(3px);
  -webkit-appearance: none;
  border: none;
  font: inherit;
  background: none;
  padding: 0;
  margin: 0;

  &[type=text], &[type=email], &[type=number] {
    width: 100%;
    display: block;
    border: 1px solid $grey-light;
    background-color: $grey-light;
    padding: 0.6em 1em 0.5em 1em;
    margin-top: 0.5em;
  }

  &.button{
    margin-top: 1em;
  }
}


.button {
  @include border-radius(3px);
  display: inline-block;
  padding: 0.6em 2em 0.5em 2em;
  margin-right: 0.25em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: 600;
  cursor: pointer;

  &.small {
    font-size: 0.7em;
    padding: 0.5em 1.25em 0.25em 1.25em;
  }

  &.orange {
    background-color: $orange;
    color: $white;
    border: 2px solid $orange;

    &:hover {
      background-color: $orange-light;
      border: 2px solid $orange-light;
    }

    &:active {
      background-color: $orange-dark;
      border: 2px solid $orange-dark;
    }
  }

  &.orange.outline {
    color: $orange;
    background-color: transparent;

    &:hover {
      color: $orange-light;
    }

    &:active {
      color: $orange-dark;
    }
  }

  &.blue {
    background-color: $blue;
    color: $white;
    border: 2px solid $blue;

    &:hover {
      background-color: $blue-light;
      border: 2px solid $blue-light;
    }

    &:active {
      background-color: $blue-dark;
      border: 2px solid $blue-dark;
    }
  }

  &.blue.outline {
    color: $blue;
    background-color: transparent;

    &:hover {
      color: $blue-light;
    }

    &:active {
      color: $blue-dark;
    }
  }

  &.white {
    background-color: $white;
    color: $blue;
    border: 2px solid $white;
    opacity: 1;


    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.9;
    }
  }

  &.white.outline {
    color: $white;
    background-color: transparent;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.9;
    }
  }
}