/*
  Mixins
*/

@mixin animate( $duration: .3s , $property: all , $function: cubic-bezier( 0 , 1 , 1 , 1 ) ) {
  @include transition-duration( $duration );
  @include transition-property( $property );
  @include transition-timing-function( $function );
}

@mixin clearfix ( ) {
  &:after {
  display: table;
  content: '';
  clear: both;
  }
}

// Screen Sizes

@mixin wide ( ) {
  @media screen and ( min-width : $breakpoint-desktop ) {
  @content;
  }
}

@mixin desktop ( ) {
  @media screen and ( min-width : $breakpoint-tablet ) {
  @content;
  }
}

@mixin tablet ( ) {
  @media screen and ( max-width : $breakpoint-tablet ) {
  @content;
  }
}

@mixin mobile ( ) {
  @media screen and ( max-width : $breakpoint-mobile ) {
  @content;
  }
}


@-webkit-keyframes rotate {
  0% {
  -webkit-transform: rotate(0deg);
  }
  50% {
  -webkit-transform: rotate(-180deg);
  }
  100% {
  -webkit-transform: rotate(0deg);
  }
}