/*

Navigation

*/

.navigation {
  padding: 1.5em 0;

  .column {

  }

  .wordmark {
    margin-top: 0.35em;
  }

  .menu {
    margin-top: 0.75em;
  }

  li {
    display: inline-block;
    margin: 0 0.75em;
    position: relative;

    ul { 
      position: absolute;
      display: none;
      background: $white;
      left: -14px;

      li {
        display: block;
        text-align: left;
        margin: 1em;
      }
    }

    &:hover ul {
      display: block;
    }
  }

  .donate {
    // position: absolute;
  }
}

.side-nav {
  ul {
    li {
      border-left: 1px solid $grey-mid;

      a {
        display: block;
        color: $grey-mid;
        padding-left: 1em;
        line-height: 2.5em;
      }

      &:hover {
        border-left-color: $grey-dark;

        a {
          color: $grey-dark;
        }
      }

      &.current-menu-item {
        border-left-color: $blue;

        a {
          color: $blue;
        }
      }
    }
  }
}

.footer {
  a {
    line-height: 2em;
  }
}