/*

Sections

*/


// Blog

.post-info {
  padding: 2em 0 2em 0;
  @include clearfix;

  .type {
    float: left;
  }

  .date {
    float: right;
  }
}

.post {

  h3 {
    a {
      color: $blue;
    }
  }
}

.link-white {
  .parent-page {
    a {
      border-bottom: 2px solid $white;
    }
  }
}

/*
  Giving
*/

// FAQ

.faq {
  .faq-item {
    .question {
      cursor: pointer;
      padding: 1em 0;
      background: transparent image-url('arrow-open.png') right center no-repeat;
    }
    .answer {
      display: none;
      .answer-wrap {
        padding: 1em 0 2em 0;
      }
    }
    &.open {
      .question {
        background-image: image-url('arrow-close.png');
      }
    }
  }
}