/*
  Structure
*/

* {
  @include box-sizing(border-box);
}

section {
  padding: 4em 0;
  position: relative;

  &.expanded {
    padding: 7em 0;
    @include mobile {
      padding: 3em 0;
    }
  }

  &.border {
    @include border-top;
  }

  @include mobile {
    padding: 2em 0;
  }
}

.wrapper {
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 2em;
  @include mobile {
    padding: 0 1em;
  }
}

img {
  max-width: 100%;
}

.field-group {
  margin-bottom: 2em;
}

table {
  margin: 1em 0;
  width: 100%;
  tr {
    border-top: 1px solid $grey-light;
    &:last-of-type {
      border-bottom: 1px solid $grey-light;
    }
    td {
      padding: 0.75em 1em 0.65em 0;
      &:first-child {
        font-weight: 600;
      }
    }
  }
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}