/*
  Typography
*/

body {
  font-size: 17px;
  line-height: 20px;
  font-family: $family-sans;
}

p {
  margin-bottom: 12px;
}

// Headers

#{headers(all)} {
  
}

h1, h2, h3 {
  font-family: $family-serif;
}

h4{
  font-family: $family-sans;
}

h1 {
  font-size: 2.6em;
  font-weight: 300;
  line-height: 1.1em;
  margin-bottom: 0.5em;
  @include mobile {
    font-size: 2em;
  }
}

h2 {
  font-size: 2em;
  font-weight: 300;
  line-height: 1em;
  margin-bottom: 0.75em;
}

h3 {
  font-size: 1.4em;
  font-weight: 400;
  line-height: 1.2em;
  margin-bottom: 1em;
}

h4 {
  font-size: 1.3em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 600;
  margin-bottom: 1em;
}

h5 {
  font-size: 1.1em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 600;
  margin-bottom: 1em;
}

// Text Modifiers

.large {
  font-size: 2em;
  font-weight: 300;
  font-family: $family-serif;
  line-height: 1.25em;
  @include mobile {
    font-size: 1.25em;
  }
}

.med {
  font-size: 1.175em;
  font-family: $family-sans;
  line-height: 1.2em;
  margin-bottom: 0.75em;
}

.small, small {
  font-size: 0.8em;
  font-family: $family-sans;
}

// Helpers

em {
  font-style: italic;
}

strong {
  font-weight: 700;
}

pre {
  font-family: monospace;
  font-size: 85%;
}

.caps {
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.light {
  font-weight: 300;
}

.thin {
  font-weight: 100;
}

.bold {
  font-weight: 700;
}

.semi-bold {
  font-weight: 600;
}

.italic {
  font-style: italic;
}

.sans {
  font-family: $family-sans;
}

.serif {
  font-family: $family-serif;
}

.monospace {
  font-family: monospace;
}

.nowrap {
  white-space: nowrap;
}



// Special

.data {
  font-size: 4em;
  font-family: $family-serif;
  font-weight: 700;
  line-height: 0.9em;
  margin-bottom: 0.25em;
  @include mobile {
    font-size: 2.5em;
  }
}

.wordmark {
  .navigation & {
    font-size: 1.5em;
  }

  .footer & {
    font-size: 1.5em;
    margin-bottom: 0.75em;
  }
}
