/*
  Typography
*/

body {
  font-size: 17px;
  line-height: 20px;
  font-family: $family-sans;
}

// Headers

#{headers(all)} {
  font-family: $family-serif;
}

// Helpers

em {
  font-style: italic;
}

strong {
  font-weight: 700;
}

pre {
  font-family: monospace;
  font-size: 85%;
}