/*
  ScriptEd
  2014

  August W. Miller
*/

@import 'variables';

@import 'grid';
// @import 'base';

* {
  font-weight: inherit;
}

body {
  font-family: "Roboto", "Helvetica", sans-serif;
  // font-family: "Fira Sans", "Helvetica", sans-serif;
  font-weight: 300;
}

pre {
  // font-family: "Fira Mono";
  font-size: 85%;
}

#{headers(all)} {
  font-family: "Roboto Slab", "Helvetica", sans-serif;
}