web/wp-content/themes/scripted/assets/js/
web/wp-content/themes/scripted/assets/css/
web/wp-content/themes/scripted/.sass-cache
web/wp-config.php
web/wp-content/uploads

.sass-cache
node_modules
.DS_Store
