[submodule "stripe-php"]
    path = wp-content/themes/scripted/lib/stripe-php
    url = git@github.com:stripe/stripe-php.git
[submodule "wp-content/themes/scripted/lib/kirby-toolkit"]
	path = wp-content/themes/scripted/lib/kirby-toolkit
	url = git@github.com:getkirby/toolkit.git
