section.concept-highlights
  & + &
    border-top: 1px solid $grey-light

  .lede
    margin-bottom: 2rem

  figure
    max-width: 230px
    margin: 0 auto 1.5em auto

    +mobile
      max-width: 50%
      margin: 0

  .explanation
    padding-right: 1rem
