/*
  Mixins
*/

@mixin animate($duration: .3s, $property: all, $function: cubic-bezier(0, 1, 1, 1)) {
  @include transition($duration, $function, $property);
}

@mixin clearfix {
  &:after {
    display: table;
    content: '';
    clear: both;
  }
}

// Screen Sizes

@mixin wide {
  @media screen and ( min-width : $breakpoint-desktop ) {
    @content;
  }
}

@mixin desktop {
  @media screen and ( min-width : $breakpoint-tablet ) {
    @content;
  }
}

@mixin tablet {
  @media screen and ( max-width : $breakpoint-tablet ) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: $breakpoint-mobile) {
    @content;
  }
}


@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(-180deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}

// Appearance

@mixin border-top ($color: $grey-light) {
  border-top: 1px solid $color;
}

@mixin text-on-image ($color: $blue) {
  text-shadow: 0 1px 1px darken(transparentize($color, 0.5), 35%);
}

@mixin retina {
  @media only screen and (-webkit-min-device-pixel-ratio: 2),
         only screen and (   min--moz-device-pixel-ratio: 2),
         only screen and (     -o-min-device-pixel-ratio: 2/1),
         only screen and (        min-device-pixel-ratio: 2),
         only screen and (                min-resolution: 192dpi),
         only screen and (                min-resolution: 2dppx) { 
      
    @content;
  }
}

// Animation
@mixin animation($animate...) {
  $max: length($animate);
  $animations: '';

  @for $i from 1 through $max {
    $animations: #{$animations + nth($animate, $i)};

    @if $i < $max {
      $animations: #{$animations + ", "};
    }
  }
  -webkit-animation: $animations;
  -moz-animation:    $animations;
  -o-animation:      $animations;
  animation:         $animations;
}

@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @-o-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}
