/*
  Sections
*/


/*
  General Page Content
*/



/*
  Updates
*/

// General Post Format

.archive {
  .post-meta {
    .meta-item {
      float: left;
      width: 50%;
      border-right: 1px solid $grey-light;
      border-bottom: none;
      &:last-child {
        border-right: none;
      }
    }
  }
}

// Latest


// Pagination

// Events


// Resources

// Student Voice



/*
  Narrative
*/

// Hero


// Donate Widget


// Bulleted List


// Big Idea


// Point of Pride

// Concept Highlights

// Photo Message


// Path Picker


// Testimonials / Quotes



/*
  Giving
*/

// Form



// Errors


// FAQ



// Gift Receipt



/*
  Press
*/

// Recognition


/*
  Team
*/

/*
  Team
*/


/*
  Educators
*/


/*
  Newsletter Signup
*/

/*
  Sponsors
*/

/* 
  Statistics
*/


/*
  Static Content page-break-inside
*/

/*
  Alerts
*/

  

/*
  Footer
*/
