.hero
  background-size: cover
  background-position: center center
  background-color: $blue
  padding: 15% 0
  transition: 0.25s linear background-color
  +text-on-image


  &.background-image-loaded
    background-color: $blue-dark

  &.media-may-play
    .background-image img
      opacity: 0.75

    .media-play
      opacity: 0.9
      background-image: url('../images/icons/play-filled.svg')

  .media-play
    width: 100px
    height: 100px
    border: none
    margin: 0 auto 1em auto
    opacity: 0.8
    cursor: pointer
    background: transparent url('../images/icons/play.svg') center center no-repeat
    background-size: 100px 100px
    +animate($property: opacity)

  .media-play-takeover
    +fill
    border: 0
    padding: 0
    margin: 0
    opacity: 0

  .hero-content
    position: relative
    padding: 0 2rem

    +mobile
      padding: 0 1rem

  .hero-media-overlay
    +fill
    display: none
    background-color: transparentize($black, 0.2)
    padding: 4rem

    +tablet
      padding: 4rem 2rem

    +mobile
      padding: 4rem 1rem

  .hero-media-content
    height: 100%
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    width: 80%
    max-width: 1000px
    margin: 0 auto
